body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    height:100vh;
    background-color:#E5E7EA;
    overflow:hidden;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%;
}
.message{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#logo{
    width:287px;
    height: 120px;
}
h3{
    font-family: 'Inter', sans-serif;
    font-size:16px;

}
#menu{
    width:29px;
    height:27px;
    position: fixed;
    top:39px;
    left:85%;
}

#h31{
    position: relative;
    top:40px;
}


#h32{
    position: relative;
    bottom:28px;
}