---
//Import Styles
import '../styles/global.css';


//Import Components
const blogs = await Astro.glob('../pages/posts/*.md');

//Import Assets
import Icon1 from '../assets/Icon1.png';
import Icon2 from '../assets/Icon2.png';

//Import Layouts
import MainLayout from '../layouts/MainLayout.astro';
import Column from '../layouts/Col3dandbranding.astro';

---

<MainLayout>
	<Column>
    <ul>
    {blogs.map((blog, index) => 
        <div class = "row"> 
            {index % 2 === 0 ? <img src={Icon1} /> : <img src={Icon2} />}
            <li>
                <a href={blog.url}>{blog.frontmatter.title}</a>
            </li>
        </div>
        )}
    </ul>
    </Column>
<MainLayout/>

<style>
    
    .row{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:1em;
        position:relative;
        right:10px;
    }

    img{
        width:25px;
        height:23px;
    }
    a{
        color:black;
        text-decoration:none;
        font-size:1em;
        font-family: 'Inter', sans-serif;

    }
    li{
        list-style:none;
        width:261px;
        padding:0.5em;

    }
</style>