---
//Import Styles
import '../styles/global.css';


//Import Components
import HeaderLogo from '../components/HeaderLogo.astro';

//Import Assets
import twitterIcon from '../assets/twitterIcon.png';
import contact from '../assets/contact.png'
import twitter from '../assets/twitter.png'
import instagram from '../assets/instagram.png'

//Import Layouts
import MainLayout from '../layouts/MainLayout.astro';

---
<MainLayout>
  <h1 id = "logo" class = "fontUse headerLogo"> contact </h1>
  <a class = "link fontUse" href = "https://twitter.com/saraimartenj"> twitter </a>
  <a class = "link fontUse" href = "https://instagram.com/smarte3d"> instagram </a> 
 
</MainLayout>

<style>
  

    #logo {
      font-size:3em;
      position:relative;
      top:-150px;
    }
  
    .link:hover{
      position:relative;
      bottom:2px;
    }
    
    a{
        margin-right:10px;
        text-decoration:none;
        color:black;
        font-size:3em;

      }


    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
  
      
    #logo {
      font-size:3em;
      position:relative;
      top:-150px;
    }
  
  }
      /* Medium Devices, Desktops */
      @media only screen and (min-width : 992px) {
          #logo{
          position:absolute;
          top:-5px;
          left:40%;
      }
      
      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
          #logo{
          position:absolute;
          top:-5px;
          left:40%;
      }
      
  }

      /* Large Devices, Wide Screens */
      @media only screen and (min-width : 1200px) {
        #logo {
        font-size:3em;
        position:relative;
        top:-135px;
        left:-1%;
      
    }
}
}
</style>