---
//Import Styles
import '../styles/global.css';


//Import Components
import HeaderLogo from '../components/HeaderLogo.astro';

//Import Assets
import twitterIcon from '../assets/twitterIcon.png';
import contact from '../assets/contact.png'
import twitter from '../assets/twitter.png'
import instagram from '../assets/instagram.png'

//Import Layouts
import MainLayout from '../layouts/MainLayout.astro';
import Column from '../layouts/ColBlog.astro';

---
<MainLayout>
 <HeaderLogo imageType = {contact} width = "148px" height = "43px"> </HeaderLogo>
  <a class = "link" href = "https://twitter.com/saraimartenj">  <img src = {twitter} />  </a>
  <a class = "link" href = "https://instagram.com/smarte3d"> <img src = {instagram} /> </a> 
 
</MainLayout>

<style>
    img{
        width:150px;
    }
 
	.link:hover{
		position:relative;
		bottom:2px;
	}
	

</style>