---
import logo from '../assets/logo.png';
import menu from '../assets/menu.png';

import '../styles/global.css';
---

<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class = "container"> 
			<img id = "menu" src  = {menu}> 

			<div class = "message">
				<h3 id = "h31">hi, i'm</h3>
				<img id = "logo" src  = {logo}> 
				<h3 id = "h32">a developer & designer</h3>
			</div>
			
		</div>
	</body>

</html>
