---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel = "stylesheet" href = "../styles/global.css"> 
	</head>
	<body>
		<div class = "container"> 
			<h3>hi, i'm</h3>
			<img src  = "../assets/logo.svg"> 
		</div>
		<h1>My Portfolio Site!!!!!!</h1>
	</body>
	<style>
		.container{
			background-color:#E5E7EA;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			height:100%;
			width:100%;

		}
		img{
			width:287px;
			height:120px;
		}
	</style>
</html>
