---
//Import Styles
import '../styles/global.css';


//Import Components
import Tags from '../components/Tags.astro';
const images = await Astro.glob("/src/assets/3dImages/*").then(files => {return files.map(file => file.default)});
import threedLogo from '../assets/3d.png';


//Import Layouts
import MainLayout from '../layouts/MainLayout.astro';
import Column from '../layouts/Col3dandbranding.astro';

---

<MainLayout pageTitle = "Sarai Marte">
<div class = "workContainer" x-data="{open3d:false, openbranding:false}"> 
	<Tags/>
	<Column>
			{
			images.map(image => (
				<img src = {image} />
			))
			}
	
		</Column>
	</div>

</MainLayout>

<style>
	img{
        min-width:312px;
        height:312px;
        border-radius:30px;
    }
</style>

<!--div class = "3d" x-show="open3d" @click.outside = "open3d = false" > 
			{
			images.map(image => (
				<img src = {image} />
			))
			}
		</div> -->