---
//Import Styles
import '../styles/global.css';


//Import Components
import Tags from '../components/Tags.astro';
const images = await Astro.glob("/src/assets/3dImages/*").then(files => {return files.map(file => file.default)});
/*const brandingImages = await Astro.glob("/src/assets/brandingImages/*").then(files => {return files.map(file => file.default)});
*/
import threedLogo from '../assets/3d.png';


//Import Layouts
import MainLayout from '../layouts/MainLayout.astro';
import Column1 from '../layouts/Col3d.astro';
import Column2 from '../layouts/Colbranding.astro';
import Column3 from '../layouts/ColWebsites.astro';
import Column4 from '../layouts/ColPrograms.astro';

---

<MainLayout pageTitle = "Sarai Marte">
<div class = "container3" x-data="{open3d:false, openbranding:false, openWeb:false, openPrograms:false}"> 
	<Tags/>
	<Column1>
			{
			images.map(image => (
				<img src = {image} />
			))
			}
	
  	</Column1>
	<Column2> 
		HELLO
	</Column2>
	<Column3>
		L
	</Column3>
	<Column4>
		K
	</Column4>

	</div>

</MainLayout>

<style>
	img{
        min-width:312px;
        height:312px;
        border-radius:30px;
    }
	.container3{
		border:5px solid red;
	}
</style>

<!--div class = "3d" x-show="open3d" @click.outside = "open3d = false" > 
			{
			images.map(image => (
				<img src = {image} />
			))
			}
		</div> -->