---
const {text} = Astro.props;

---	
<h1 class = "fontUse headerLogo"> {text} </h1>

<style>
    .headerLogo{
        font-size:3em;
		position:absolute;
		top:-9px;
		left:35%;
	}

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    .headerLogo{
        font-size:3em;
		position:absolute;
		top: 1px;
		left:45%;
	}
}
    
</style>