---
import logo from '../assets/logo.png';
import Menu from '../components/Menu.astro';
---

<div class = "message">
    <Menu />
    <h3 id = "h31">hi, i'm</h3>
    <img id = "logo" src  = {logo}> 
    <h3 id = "h32">a developer & designer</h3>
</div>	
