---
import work from '../assets/work.png';
import blogs from '../assets/blogs.png';
import contact from '../assets/contact.png';
import home from '../assets/home.png';

---

<div class = "nav" x-show = "open" @click.outside = "open=false">
    <nav>
        <a href = "/" >
            <img id = "home" src = {home}>
        </a>
        <a href = "/work" >
            <img id = "work" src = {work}>
        </a>
        <a href = "/blogs" > 
            <img id = "blogs" src = {blogs} > 
        </a>
        <a href = "/contact">
            <img id = "contact" src = {contact} >
        </a>
    </nav>
</div>

<style>
    #work{
    width:182.31px;
    }

    #blogs{
        width:185px;
    }

    #contact{
        width:270.07px;
    }

    #home{ 
        width:270px;
    }
</style>