---
import work from '../assets/work.png';
import blogs from '../assets/blogs.png';
import contact from '../assets/contact.png';

---

<div class = "nav" x-show = "open" @click.outside = "open=false">
    <nav>
        <a href = "../pages/work.astro" >
            <img id = "work" src = {work}>
        </a>
        <a href = "../pages/blogs.astro" > 
            <img id = "blogs" src = {blogs} > 
        </a>
        <a href = "../pages/contact.astro">
            <img id = "contact" src = {contact} >
        </a>
    </nav>
</div>