---
---

<div class = "nav" x-show = "open" @click.outside = "open=false">
    <nav>
        <a href = "/work" >
            <img id = "work" src = {work}>
        </a>
        <a href = "/blogs" > 
            <img id = "blogs" src = {blogs} > 
        </a>
        <a href = "/contact">
            <img id = "contact" src = {contact} >
        </a>
    </nav>
</div>