---
import logo from '../assets/logo.png';
import work from '../assets/work.png';
import blogs from '../assets/blogs.png';
import contact from '../assets/contact.png';
---

<div class = "nav">
    <nav>
        <a href = "" >
            <img id = "work" src = {work}>
        </a>
        <a href = "" > 
            <img id = "blogs" src = {blogs} > 
        </a>
        <a href = "">
            <img id = "contact" src = {contact} >
        </a>
    </nav>
</div>
