---
---

<div class = "nav">
    <nav>
        <a href = "" >
            <img id = "work" src = {work}>
        </a>
        <a href = "" > 
            <img id = "blogs" src = {blogs} > 
        </a>
        <a href = "">
            <img id = "contact" src = {contact} >
        </a>
    </nav>
</div>
