---
import Menu from '../components/Menu.astro';
import HeaderLogo from './HeaderLogo.astro';
---


<div> 
    <HeaderLogo text = "work" />
    <Menu />    
</div>

<style>
   div{
     display:flex;
     justify-content:space-between;
     align-items: center;
     padding: 0 20px;
     width:100%;
     height:60px;
     border: 5px solid green;
     left:0;
     top:0;
     position: absolute;
   }
</style>