---
---

<div class = "column" x-show="open3d" @click.outside = "open3d=false" >
    <slot/>
</div>

<style>
    .column{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:1em;
        max-width:302px;
        position: relative;
        right:9px;
    }
     /* Small Devices, Tablets */
     @media only screen and (min-width : 768px) {
        .column{
        flex-direction:row;
        flex-wrap:wrap;
        max-width:100%;
    }
}

</style>