---
---

<div class = "column" x-show = "openbranding" @click.outside = "openbranding=false">
    <slot/>
</div>

<style>
    .column{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        gap:1em;
       /* border:5px solid black;*/
       max-width:302px;
        
    }
    

</style>