---
import MainHead from './MainHead.astro';

//Import Components
import Navigation from '../components/Navigation.astro';


//Import Layouts
import MainContainer from '../layouts/MainContainer.astro';

---

<html lang="en">
    <MainHead pageTitle = "Sarai Marte" />
	<body>
        <MainContainer>   
            <slot></slot>	
            <Navigation />
        </MainContainer>
	</body>

</html>

